# example commands:
# snakemake --configfile example/config.yaml --dry-run
# snakemake --configfile example/config.yaml --use-conda --conda-frontend mamba --resources mem_mb=10_000 -j 14 > example/log.txt 2>&1

# input
rna_samples: example/rna_samples.tsv
rna_tpms: example/GRCz11-TPM.tsv
rna_counts: example/GRCz11-counts.tsv

atac_samples: example/atac_samples.tsv
atac_counts: example/GRCz11_raw.tsv

genome: GRCz11  # genomepy install GRCz11 --annotation
# genomes_dir:  # where to search for genomes (default: $HOME/.local/share/genomes)

# output
result_dir: example/outdir

# what analysis to run.
# format: column_group2_group1
# column must be present in both samples files
# groups must be present in this column
# for RNA-seq, each group must have 2 or more samples (for DESeq2)
contrasts:
  - "anansnake_group2_group1"
  - "anansnake_group1_group2"


# optional settings


# gimme
# if you are analyzing a genome for which gimme has a matching motif database, you do not need to find ortholog genes.
# for example: with human/mouse, you can use "database: gimme.vertebrate.v5.0" with "get_orthologs: false",
# for example: with zebrafish, you can use "database: gimme.vertebrate.v5.0" with "get_orthologs: true".
database: gimme.vertebrate.v5.0  # options: https://gimmemotifs.readthedocs.io/en/master/overview.html#motif-databases
get_orthologs: true  # map the database to the genome's gene annotation, using orthofinder.
tmp_dir: example/tmp  # intermediate orthofinder output location, can be None
keep_tmp_data: true  # keep the intermediate orthofinder output?

# seq2science options
use_descriptive_names: true  # used descriptive names from the sample.tsv as counts table columns
merged_technical_reps: true  # set to false if you used 'technical_replicates: "keep" in s2s'
merged_biological_reps: true  # set to false if you used 'biological_replicates: "keep" in s2s'

# ANANSE binding
jaccard: 0.2  # default: 0.1

# ANANSE influence
edges: 500_000  # default: 500_000
padj: 0.05

# ANANSE plot
plot_type: "png"
